- # locals: (this:, state:, params:, turbo_frame_id:)
= turbo_frame_tag turbo_frame_id, target: :advance do
  div[id=turbo_frame_id data-controller="chart-ui-builder"]
    div[data-chart-ui-builder-target="json" data-encoded=this.encoded_data data-tfid=turbo_frame_id]

